.header-bg{
  padding: 30px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  border: transparent;
}
.kanban_ico{
  font-size: 30px!important;
}
